body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
}

.container {
  /*display: flex;*/
  margin: 0 auto;
  position: relative;
}

.sheet_table {
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
}

.cell {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 245px;
  padding-left: 25px;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  font-family: GothamPro, Arial, sans-serif
}

.row:first-child .cell {
  align-items: start;
  border: 1px solid red;
  border-left: none;
  font-weight: 600;
  font-stretch: normal;
  font-size: 15px;
  line-height: 18px;
}

.row:first-child .cell:first-child {
  border-left: 1px solid #ccc;
  position: relative;
}

.cell:first-child {
  width: 245px;
  height: 45px;
  padding-left: 35px;
  border: 1px solid #ccc;
  
  border-top: none;
}

.row:first-child .cell{
  height: 105px;
  width: 245px;
  padding: 15px 15px 5px 25px;
  border-top: 1px solid #ccc;
  text-align: left;
}

.cell .selected {

}

.tip {
  position: absolute;
  top: 15px;
  background: red;
  color: black;
  padding: 5px 10px 5px 10px;
  margin: 15px 0 0 10px;
  width: 200px;
  min-height: 50px;
}

.tip-hidden {
  display: none;
}
